$primary-color: rgba(17, 0, 255, 0.644);
$black-color : #af319a04;
$standard_widht:20%;
$standard_heigth:20%;
body {
    background-image: url(../media/img/images.png);
    width: 100%;
    height: auto;
    background-repeat: no-repeat;
    background-size: cover;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #af319a04;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 50px;
  }
  
  li a:hover {
    background-color:$primary-color;
  }
